* {
	padding: 0;
	margin: 0;
}
body {
	background-color: hsl(235, 18%, 26%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: hsl(234, 29%, 20%);
}
.button{
    margin-top: 20px;
	padding: 20px;
	background: hsl(234, 29%, 20%);
	color: white;
	font-weight: 700;
	border-radius: 5px;
	border: none;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
	&:hover{
        background: linear-gradient(90deg, rgba(255,89,104,1) 14%, rgba(255,106,58,1) 100%);
        box-shadow: 0px 24px 29px -17px rgba(255, 106, 58, 1);
	}
}
h1 {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
}
.wrap {
    width: 80%;
	max-width: 900px;
	max-height: 600px;
    overflow: hidden;
	//display: flex;
    display: none;
	background-color: white;
	padding: 30px;
	border-radius: 18px;
	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 60px;
		margin-left: 30px;
        .input_error{
            border: 1px solid tomato;
            background-color: #ffe8e6;
            color: tomato;
        }
		p {
			margin-bottom: 20px;
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 0;
			padding-bottom: 30px;
			list-style: none;
			li {
				padding: 10px 0px;
				display: flex;
				align-items: center;
				&::before {
					content: url(../assets/images/icon-list.svg);
					padding-right: 20px;
				}
			}
		}
		.info {
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			.label {
				font-weight: 700;
			}
			.error {
				display: none;
                font-weight: 700;
				color: tomato;
			}
		}
		input {
			padding: 20px;
			border-radius: 5px;
			border: 1px solid hsl(231, 7%, 60%);
			outline: none;
			font-size: 16px;
            cursor: pointer;
            &:hover,
			&:active,
			&:focus {
				border: 1px solid black;
			}
            
		}
	}
    .right{
        .img_mobile{
            display: none;
        }
    }
}
.success_wrap {
	display: block;
    width: 400px;
    height: 400px;
    padding: 50px;
    background-color: white;
    border-radius: 40px;
    img{
        width: 60px;
        margin-bottom: 20px;
    }
    p{
        line-height: 23px;
    }
    span{
        font-weight: 700;
    }
    button{
        width: 100%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 576px){
	body{
		overflow: hidden;
		background-color: white;
	}
    .wrap{
		position: absolute;
		top: 0;
		height: 100%;
        .right{

        }
    }
	.success_wrap{
		position: absolute;
		top: 0;
		margin-top: 50px;
		padding: 50px;
		p{
			font-size: 20px;
		}
		button{
			margin-top: 300px;
			font-size: 16px;
		}
	}
}
// @media screen and (max-width: 992px){
//     .wrap{
//         position: absolute;
//        
//         flex-direction: column-reverse;
//         .right{
//             position: relative;
//             .img_desktop{
//                 display: none;
//            }
//            .img_mobile{
//                 display: block;
//                 position: relative;
//                 top: 0;
//                 left: 0;
//                 width: 100%;
//            }
//         }
//     }
// }